<div class="menu-bar__content">
    <div class="menu-bar__logo">
        <img src="../../../assets/ps-logo.png" alt="psn-logo" width="150px">
    </div>
    <div class="menu-bar__nav">
        <ul class="menu-bar__nav__links">
            <li><a href="https://github.com/Prates14">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/guilherme-prates-dos-santos14/">Linkedin</a></li>
            <li><a href="https://www.dio.me/users/guidps1441">Dio.me</a></li>
            <li><a
                    href="https://www.playstation.com/pt-br/about-playstation-store/?emcid=pa-co-473085&gclid=CjwKCAjw7c2pBhAZEiwA88pOFwTDF-BYXA5PzdCAotk8oIX3aIW61zpWfmBxo8BZyjEJRG0-DaUaShoCIL8QAvD_BwE">PlayStation
                    Oficial</a></li>
        </ul>
    </div>
</div>